<ActionBar title="About"></ActionBar>
<StackLayout class="p-10">
  <img src="~/app/images/JinKazama.jpg"></img>
  <Label
    text="Jin Kazama (風間 仁 Kazama Jin?) is one of the main characters of the Tekken series. He is featured on the packaging for the console version of almost every sequel following his introduction in Tekken 3. He has also been the main protagonist for the majority of the following entries ever since his debut in Tekken 3 as he has been trying to end the Mishima Bloodline and save the world from a certain evil, with the exceptions of his role as an anti-villain in Tekken 6 (with Lars Alexandersson taking his role as the protagonist) and a supporting character in Tekken 7 (with Heihachi Mishima and Kazuya Mishima taking the role as the main characters of the game). Jin is the son of Kazuya Mishima and Jun Kazama, the grandson of Heihachi Mishima and Kazumi Mishima, the adoptive nephew of Lee Chaolan, the half-nephew of Lars Alexandersson, a relative to Asuka Kazama, and the great-grandson of Jinpachi Mishima."
    textwrap="true"></Label>
  <br>
  <br>
  <Label text="Made By Siddharta Prajna Putra - 55170368" textwrap="true"></Label>
  <br>
  <Label text="Testing Login And Android App" textwrap="true"></Label>
</StackLayout>